:root {
  --primary-color: #e50914;
  --black-color: #000;
  --white-color: #ffffff;
  --gray-color: #5f5f5f;
}

@font-face {
  font-family: 'Malow-Font';
  src: url('../fonts/Malow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  background-image: linear-gradient(to bottom, var(--black-color), transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  color: #e5e5e5;
  padding: 1.5rem 3.5rem 1rem;
}

header .left-navgation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header .left-navgation .desktop-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

header .left-navgation .desktop-nav ul li {
  padding: 0.2rem 0.5rem;
  transition: ease-in-out 200ms;
}

header .left-navgation .desktop-nav ul li .inicio {
  color: var(--white-color);
}

header .left-navgation .desktop-nav ul li .link {
  transition: ease-in-out 100ms;
}

header .left-navgation .desktop-nav ul li .link:hover {
  color: hsl(0, 0%, 80%);
}

.netflix-logo {
  width: 130px;
}

.netflix-logo img {
  width: 100%;
}

header .right-navgation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.1rem;
}

header .right-navgation #go-to-kids-profile {
  cursor: pointer;
}

header .right-navgation .rigth-content i {
  font-size: 1.4rem;
}

header .right-navgation .user-avatar {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

header .right-navgation .user-avatar .avatar {
  width: 50px;
  height: 50px;
}

header .right-navgation .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 6px;
}

header .user-content {
  position: relative;
}

header .user-data-content {
  background-color: var(--black-color);
  color: var(--white-color);
  position: absolute;
  top: 60px;
  left: -150px;
  width: 220px;
  padding: 1rem;
  border-radius: 4px;
}

.user-data-content .bottom-infos {
  margin-top: 1.5rem;
  width: 100%;
}

.user-data-content .bottom-infos .buttons-bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
}

#manage-profile-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-bottom: 1px solid var(--gray-color);
  border-top: 1px solid var(--gray-color);
}

#leave-netflix-home,
#manage-profile-home {
  cursor: pointer;
  padding: 1rem;
  border-radius: 4px;
  transition: ease-in-out 200ms;
}

.user-data-content .content-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
  font-size: 14px;
}

.user-data-content .content-profile .left-card-content img {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  object-position: center;
  object-fit: cover;
}

.user-data-content .content-profile .profile-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content-profile .profile-card .left-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  gap: 0.5rem;
}

.content-profile .profile-card .right-card-content {
  margin-right: 1.5rem;
}

.mobile-nav {
  display: none;
}

#mobile-menu {
  display: none;
}

#mobile-menu.active {
  display: block;
  position: absolute;
  top: 80px;
  left: 130px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(0, 0, 0, 0.6);
  width: 250px;
  text-align: center;
}

#mobile-menu.active li {
  padding: 1rem;
}

.modal-pin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #141414;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  color: white;
  width: 300px;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

.pin-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pin-inputs input {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: #333;
  color: white;
}

.pin-inputs input:focus {
  outline: 2px solid #24a3e2;
}

button#submitPin {
  background-color: #24a3e2;
  border: none;
  padding: 10px 20px;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.error-pin {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.movie-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--black-color);
  z-index: -1;
}

.movie-background img {
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  width: 100%;
}

iframe#player {
  position: absolute;  
  top: 0;          
  left: 0;          
  width: 100vw;     
  height: 100vh;    
  z-index: -1;       
  pointer-events: none;
  transform: scale(1.1);
  transform-origin: top center;
}

.movie-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unmute-div {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: transparent;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.unmute-div button {
  font-size: 1.5rem;
  color: var(--white-color);
}


.display {
  display: none;
}

@media (max-width: 1150px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav ul {
    display: none;
  }

  .mobile-nav .inicio:hover ul {
    display: block;
  }

  #mobile-menu.active {
    left: 97px;
  }

  .unmute-div {
    right: 2%;
    bottom: 15%;
  }

  #player {
    height: 80vh;
    pointer-events: auto;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1.5rem 1.2rem 1rem;
  }

  header .netflix-logo {
    width: 100px;
  }

  header span#go-to-kids-profile,
  header .bell-content,
  header .fa-chevron-down {
    display: none;
  }

  header .right-navgation {
    gap: 0.7rem;
  }

  #mobile-menu.active {
    left: 30px;
  }

  #player {
    height: 30vh;
  }

  .unmute-div {
    right: 2%;
    top: 24%;
    padding: 0.5rem;
  }

  .unmute-div button {
  font-size: 1rem;
  color: var(--white-color);
}
}
